<header>
  <!-- Header file for TODO Application -->
  <div class="todoheading">
    <h1>TO<span>DO</span> APP</h1>
  </div>
  <!-- <nav class="navbar bg-body-tertiary">
        <div class="container text-center">
          <span class="navbar-brand font-weight-bold">ToDo App</span>
        </div>
      </nav> -->
</header>
